<configuration>
  <system.webServer>
	<handlers>
	  <add name="CounterHandler" verb="*" path="*.counter" type="WebLibrary.Handlers.CounterHandler" />
	</handlers>
	<modules>
	  <add name="EventsModule" type="WebLibrary.Modules.EventsModule"/>
	</modules>
  </system.webServer>
  <appSettings>
	<add key="webPages:Version"
		 value="2.0"/>
  </appSettings>
</configuration>