@model WebApplication3.Models.Person

@{
    ViewBag.Title = "Index";
}

<h2>Hello @Model.Name from view!</h2>

<ul>
	@foreach (var detail in Model.Details)
	{
		<li>@detail</li>
	}
</ul>

@using(Html.BeginForm("AddDetail", "Person", FormMethod.Post))
{
	@Html.TextBox("Detail")
	<input id="submit" type="submit" value="Add detail"/>
}

@section scripts
{
	<script type="text/javascript">
		$(function() {
			$("#submit").val("Add detail from jQuery!");
		})
	</script>
}
